<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div *ng-if="state === 'wait'">
      <div class="modal-body">
        please wait...
      </div>
    </div>
    <div *ng-if="state !== 'wait'">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true" (click)="onClose()">&times;</span>
        </button>
        <h4 class="modal-title">{{ title }}</h4>
      </div>
      <div class="modal-body">
        <form class="form-inline" id="order-form" [ng-form-model]="form" (submit)="onSubmit()">
          <div class="form-group has-feedback" *ng-for="#group of groups">
            <div class="input-group" *ng-if="!group.hd">
              <div class="input-group-addon" *ng-if="group.fa || group.fc">
                <i class="fa" *ng-if="group.fa" [class]="'fa-' + group.fa"></i>
                <span *ng-if="group.fc">{{ group.fc }}</span>
              </div>
              <input class="form-control" type="text" *ng-if="group.ip" [placeholder]="group.ph" [readonly]="group.rd" [ng-control]="group.na" [value]="group.va">
              <select class="form-control" *ng-if="group.sl" [ng-control]="group.na">
                <option *ng-if="group.ph" value="" selected disabled>{{ group.ph }}</option>
                <option *ng-for="#option of group.op; #i = index" [value]="option" [selected]="!group.ph && i === 0">{{ option }}</option>
              </select>
              <textarea class="form-control" rows="3" *ng-if="group.ta" [placeholder]="group.ph" [readonly]="group.rd" [ng-control]="group.na" [value]="group.va"></textarea>
              <i class="fa form-control-feedback" *ng-if="group.re && form.controls[group.na].value === ''"><span>*<span></i>
              <i class="fa fa-exclamation-triangle form-control-feedback" *ng-if="!form.controls[group.na].valid"></i>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div *ng-if="querying">
          <button type="button" class="btn btn-warning" form="order-form" disabled="disabled">Standby</button>
        </div>
        <div *ng-if="!querying">
          <button type="button" class="btn btn-danger pull-left" form="order-form" *ng-if="state === 'update' || state === 'revise'">Delete</button>
          <button type="button" class="btn btn-primary" form="order-form" *ng-if="state === 'revise'" (click)="onAnother()">Another</button>
          <button type="submit" class="btn btn-primary" form="order-form" *ng-if="state === 'update'">Update</button>
          <button type="submit" class="btn btn-primary" form="order-form" *ng-if="state == 'insert'">Add</button>
          <button type="submit" class="btn btn-primary" form="order-form" *ng-if="state == 'revise'">Revise</button>
        </div>
        <div *ng-if="message.state === 'warning'" class="alert animated fadeIn alert-warning" role="alert">{{ message.text }}</div>
        <div *ng-if="message.state === 'error'" class="alert animated fadeIn alert-danger" role="alert">{{ message.text }}</div>
        <div *ng-if="message.state === 'success'" class="alert animated fadeIn alert-success" role="alert">{{ message.text }}</div>
      </div>
    </div>
  </div>
</div>
