<connection></connection>
<order class="modal fade" id="order" tabindex="-1" role="dialog"></order>
<navigation></navigation>
<main class="container">
  <div>
    <div class="panel panel-default" id="search">
      <div class="panel-body">
        <form [ng-form-model]="form" (submit)="onSearch()">

          <div class="input-group has-feedback">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {{ trackings.bar.text }} <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li *ng-for="#bar of groups.bars; #i = index"><a href="#" (click)="onBar(i)">{{ bar.text }}</a></li>
              </ul>
            </div>
            <input type="text" id="search-bar" class="form-control" [disabled]="trackings.bar.disabled" [placeholder]="trackings.bar.placeholder" ng-control="bar">
            <i class="fa form-control-feedback" *ng-if="!trackings.bar.disabled && form.controls.bar.value === ''"><span>*<span></i>
            <i class="fa fa-exclamation-triangle form-control-feedback" *ng-if="!valid"></i>
          </div>

          <div class="btn-group" data-toggle="buttons" *ng-for="#switch of groups.switches">
            <label *ng-for="#option of switch.options; #i = index" class="btn btn-default" [class.left-btn]="i === 0" [class.active]="i === 0" (mouseup)="onSwitch(switch.name, option)">
              <input type="radio" [name]="switch.name" autocomplete="off" [checked]="i === 0">{{ option === '' ? 'All' : option }}
            </label>
          </div>

          <button type="submit" class="btn btn-primary pull-right">Search</button>
        </form>
      </div>
    </div>

    <div class="panel panel-default" id="insert">
      <a href="#" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#order" (click)="onInsert()">
        <i class="fa fa-plus" (click)="onInsert()"></i>
      </a>
    </div>
  </div>

  <div class="container"></div>

  <div class="panel panel-default" *ng-if="state !== 'searched'">
    <div class="panel-body" *ng-if="state === 'standby'">
      <span>Please standby ...</span>
    </div>
    <div class="panel-body" *ng-if="state === 'failed'">
      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
      <span>&nbsp{{ message }}</span>
    </div>
  </div>

  <div *ng-if="state === 'searched'">
    <div id="search-info">
      <span class="well well-sm">{{ total }} results</span>
      <span class="well well-sm">{{ count }} results per page</span>
      <span class="well well-sm">page {{ page }}</span>
      <span class="well well-sm">order by date added</span>
      <span class="well well-sm">{{ filter }}</span>
    </div>
    <div id="orders-list">
      <section class="list-element animated fadeIn">
        <table>
          <tr><td class="list-element-title"><strong>Order</strong></td> <td><a href="#">13074107347130471</a></td></tr>
          <tr><td class="list-element-title"><strong>Name</strong></td><td>王香寒</td></tr>
          <tr><td class="list-element-title"><strong>Phone</strong></td><td>13905200000</td></tr>
          <tr><td class="list-element-title"><strong>Date</strong></td><td>2015.06.30 - 2015.07.15</td></tr>
          <tr><td class="list-element-title"><strong>BCard</strong></td><td>17834701734712034174</td></tr>
          <tr><td class="list-element-title"><strong>LCard</strong></td><td>757095273745724750925</td></tr>
          <tr><td class="list-element-title"><strong>UPS</strong></td><td>1Z5A806V0395121279</td></tr>
        </table>
      </section>
    </div>
    <ul class="pager" id="orders-pager">
      <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> New</a></li>
      <li class="next disabled"><a href="#">Old <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
  </div>

</main>

