<connection></connection>
<order class="modal fade" id="order" tabindex="-1" role="dialog"></order>
<navigation></navigation>
<main class="container">
  <div>
    <div class="panel panel-default" id="search">
      <div class="panel-body">
        <form [ng-form-model]="form" (submit)="onSearch()">

          <div class="input-group has-feedback">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {{ bar.text }} <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li *ng-for="#bar of groups.bars; #i = index"><a href="#" (click)="onBar(i)">{{ bar.text }}</a></li>
              </ul>
            </div>
            <input type="text" id="search-bar" class="form-control" [disabled]="bar.disabled" [placeholder]="bar.placeholder" ng-control="bar">
            <i class="fa form-control-feedback" *ng-if="!bar.disabled && form.controls.bar.value === ''"><span>*<span></i>
            <i class="fa fa-exclamation-triangle form-control-feedback" *ng-if="!valid"></i>
          </div>

          <div class="btn-group" data-toggle="buttons" *ng-for="#switch of groups.switches">
            <label *ng-for="#option of switch.options; #i = index" class="btn btn-default" [class.left-btn]="i === 0" [class.active]="i === 0" (mouseup)="onSwitch(switch.name, option[0])">
              <input type="radio" [name]="switch.name" autocomplete="off" [checked]="i === 0">{{ option[1] }}
            </label>
          </div>

          <button type="submit" class="btn btn-primary pull-right">搜索</button>
        </form>
      </div>
    </div>

    <div class="panel panel-default" id="insert">
      <a href="#" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#order" (click)="onInsert()">
        <i class="fa fa-plus" (click)="onInsert()"></i>
      </a>
    </div>
  </div>

  <div class="container"></div>

  <div class="panel panel-default" *ng-if="state !== 'searched'">
    <div class="panel-body" *ng-if="state === 'standby'">
      <span>Please standby ...</span>
    </div>
    <div class="panel-body" *ng-if="state === 'failed'">
      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
      <span>&nbsp{{ message }}</span>
    </div>
  </div>

  <div *ng-if="state === 'searched'">
    <div id="search-info">
      <span class="well well-sm">搜索到 {{ total }} 条订单</span>
      <span class="well well-sm">每页显示 {{ count }} 条</span>
      <span class="well well-sm">页数 {{ page }}/{{ totalPage }}</span>
      <span class="well well-sm">{{ orderBy }}</span>
      <span class="well well-sm">{{ criterias }}</span>
    </div>
    <div class="animated fadeIn" id="orders-list">
      <div *ng-for="#result of results.slice(0, count - 1)" class="list-element" [class.warning-element]="result.warning">
        <div>
        <table>
          <tr><td class="list-element-title"><strong>订单号</strong></td> <td><a href="#" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#order" (click)="onUpdate(result.id)">{{ result.id }}</a></td></tr>
          <tr><td class="list-element-title"><strong>创建时间</strong></td> <td>{{ result.ctime }}</td></tr>
          <tr><td class="list-element-title"><strong>姓名</strong></td><td>{{ result.name }}</td></tr>
          <tr><td class="list-element-title"><strong>电话</strong></td><td>{{ result.phone }}</td></tr>
          <tr><td class="list-element-title"><strong>护照</strong></td><td>{{ result.passport }}</td></tr>
          <tr><td class="list-element-title"><strong>时间段</strong></td><td>{{ result.start }} - {{ result.end }}</td></tr>
          <tr *ng-if="result.bcard"><td class="list-element-title"><strong>白卡</strong></td><td>{{ result.bcard }}</td></tr>
          <tr><td class="list-element-title"><strong>逻辑卡</strong></td><td>{{ result.lcard }}</td></tr>
          <tr><td class="list-element-title"><strong>地址</strong></td><td>{{ result.address }}</td></tr>
          <tr *ng-if="result.carrier"><td class="list-element-title"><strong>快递公司</strong></td><td>{{ result.carrier }}</td></tr>
          <tr *ng-if="result.tracking"><td class="list-element-title"><strong>快递号</strong></td><td>{{ result.tracking }}</td></tr>
          <tr *ng-if="result.note"><td class="list-element-title"><strong>注释</strong></td><td>{{ result.note }}</td></tr>
        </table>
        </div>
      </div>
    </div>
    <ul class="pager" id="orders-pager">
      <li class="previous" [class.disabled]="page === 1"><a href="#" (click)="onSearch('newer')"><span aria-hidden="true">&larr;</span> 上一页</a></li>
      <li class="next" [class.disabled]="results.length <= count"><a href="#" (click)="onSearch('older')">下一页 <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
  </div>

</main>

