<!doctype html>
<html>
  <head>
    <title>L-Cards</title>
    <script src="js/config.js"></script>
    <script src="js/socket.io-1.3.5.js"></script>
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular2.sfx.dev.js"></script>
    <script src="js/server-status.js"></script>
    <script src="js/l-cards-panel.js"></script>
    <script src="js/l-cards.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/l-cards.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/animate.css">
  </head>
  <body>
    <include template="./nav.marko" username="${data.username}" location="l-cards" />
    <main class="container">
      <l-cards></l-cards>
    </main>
  </body>
</html>
