<!doctype html>
<html>
  <head>
    <title>Order List</title>
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/order-list.css">
  </head>
  <body>
    <include template="./nav.marko" username="${data.username}" location="order-list">
    <div id="main">
    hello world
    </div>
  </body>
</html>
