#nav-padding {
  margin-top: 95px;
  height: 0px;
}

#nav-clear {
  margin-top: 51px;
  height: 43px;
  background-color: #FFF;
  z-index: 100;
}

#panel-info {
  margin-top: 62px;
  z-index: 100;
}

#panel-info span {
  margin-right: 6px;
}

#panel-left {
  width: 49%;
  float: left;
  height: 213px;
  margin-bottom: 20px;
}

#panel-right {
  width: 50%;
  float: right;
  height: 213px;
  margin-bottom: 20px;
}

#panel-right p {
  display: block;
  margin-bottom: 17px;
  height: 80px;
}

#file {
  display: inline;
  width: 250px;
  line-height: 10px;
  margin-right: 15px;
  margin-top: 8px;
}

.max-cell {
  width: 100%;
}

.min-cell {
  white-space: nowrap;
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.icon {
  font-size: 105%;
  vertical-align: center;
  position: relative;
  top: 2px;
}
