*:focus {
  outline: 0 !important;
}

.has-feedback i {
  line-height: 34px !important;
}

.has-feedback i span {
  margin-top: 4px !important;
  top: 2px;
  position: relative;
}

.input-group-addon {
  border-radius: 4px 0 0 4px !important;
  width: 36px !important;
  padding: 2px !important;
  border-right: 0;
}

.input-group-addon i {
  line-height: 10px !important;
}

.input-group-btn button {
  border-right: 0;
}

select, input {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
}

html, body {
  height: 100% !important;
}
